.hero-section {
  background: linear-gradient(to top right,#121212,#1e1e1e,#5e35b1,#7e57c2);
  display: flex;
  align-items: center;
  height: 550px;
  padding: 100px;
  color: white;
}

.hero-description-container {
  width: 500px;
  margin-right: 60px;
}

.hero-title {
  font-size: 40px;
}

@media(max-width: 576px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px;
    height: 450px;
  }
  .hero-description-container {
    width: 100%;
    margin: 0px;
    width: 300px;
  }
  .hero-section {
    padding: 0px;
  }
  .hero-title {
    font-size: 30px;
  }
}