.about-container {
  padding: 40px;
  padding-top: 0px;
}

.about-heading {
  text-align: center;
  color: aliceblue;
}

.about-content-container {
  margin-top: 30px;
}

.about-content {
  font-family: 'JetBrains Mono', monospace;
  color: #d9cfeb;
}