.about-container {
  padding: 40px;
  padding-top: 0px;
}

.about-heading {
  text-align: center;
  color: aliceblue;
  margin-top: 0px;
}

.about-content-container {
  margin-top: 30px;
}

.about-content {
  font-family: 'JetBrains Mono', monospace;
  color: #c6b1ec;
  margin-bottom: 20px;
}

@media(max-width: 576px) {
  .about-container {
    padding: 0px;
    padding-bottom: 40px;
    text-align: left;
  }
}