.contact-container {
  min-height: 85vh;
  padding: 20px;
  padding-top: 0px;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-content {
  text-align: center;
}

.contact-heading {
  font-size: 48px;
  color: aliceblue;
  margin: 0px;
}

.contact-subtext {
  color: #aaa;
}

.contact-icon {
  background-color: white;
}

.contact-form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}

.contact-form {
  width: 100%;
  background: linear-gradient(to top right,#121212,#1e1e1e,#5e35b1,#7e57c2);
  padding: 25px;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  color: white;
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.contact-btn {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  color: aliceblue;
  border-style: solid;
  border-color: aliceblue;
}

@media(max-width: 576px) {
  .contact-heading {
    font-size: 30px;
  }
  .contact-form {
    margin-bottom: 40px;
  }
}