.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  margin: 0px;
}

@media(max-width: 576px) {
  .cards-container {
    padding: 20px;
  }
}