.search-box {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;  
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  width: 400px;
  margin-right: 60px;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 20px;
}

.search-title {
  margin-left: 80px;
  font-size: 35px;
}

.search {
  background-color: white;
  padding: 10px;
  width: 350px;
  color: #5e35b1;
  border-style: none;
  outline: none;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

@media(max-width: 576px) {
  .search-container {
    justify-content: center;
  } 
  .search-title {
    margin-left: 0px;
  } 
  .search-box {
    margin-right: 0px;
  }
}