.skills-heading {
  color: aliceblue;
  margin-top: 0px;
}

.skills-icon {
  height: 80px;
  width: 80px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: center;
  column-gap: 80px;
  row-gap: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.skills-category {
  color: #d9cfeb;
  font-family: 'JetBrains Mono', monospace;
}

@media(max-width: 576px) {
  .skills-container {
    justify-content: flex-start;
  }
}