.skills-heading {
  color: aliceblue;
  margin-top: 0px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: center;
  column-gap: 80px;
  row-gap: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.skills-category {
  color: #d9cfeb;
  font-family: 'JetBrains Mono', monospace;
  width: 20%;
}

.skills-category-heading {
  font-size: 20px;
}

.skills-list {
  margin-left: 14px;
}

@media(max-width: 576px) {
  .skills-container {
    padding: 0px;
    gap: 12px;
  }
  .skills-category {
    width: 48%;
    margin-bottom: 30px;
  }
  .skills-category-heading {
    font-size: 16px;
    height: 40px;
  }
}