* {
  box-sizing: border-box;
}

.bg-container {
  background-color: #000000;
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
}

.nav-container {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #3d010e;
}

.main-heading {
  font-size: 40px;
  font-family: "Roboto";
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
}

.search-box-container {
  display: flex;
  justify-content: center;
}

.search-box {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;  
  background-color: white;
  border-radius: 5px;
  margin-top: 40px;
  padding: 5px;
  width: 400px;
}

.search {
  background-color: white;
  padding: 10px;
  width: 350px;
  color: #3d010e;
  border-style: none;
  outline: none;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}