* {
  box-sizing: border-box;
}

.bg-container {
  background-color: #000000;
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  background-color: black;
  padding: 20px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-left: 60px;
}

.main-heading {
  font-size: 24px;
  font-weight: bold;
  margin-left: 250px;
}

.hero-section {
  background: linear-gradient(to top right,#121212,#1e1e1e,#5e35b1,#7e57c2);
  display: flex;
  align-items: center;
  height: 550px;
  padding: 100px;
}

.hero-description-container {
  width: 500px;
  margin-right: 60px;
}

.hero-title {
  font-size: 40px;
}

.search-box {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;  
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  width: 400px;
  margin-right: 60px;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 20px;
}

.search-title {
  margin-left: 80px;
  font-size: 35px;
}

.search {
  background-color: white;
  padding: 10px;
  width: 350px;
  color: #5e35b1;
  border-style: none;
  outline: none;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  margin: 0px;
}

@media(max-width: 1000px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .hero-description-container {
    width: 100%;
  }
  .nav-container {
    justify-content: center;
  }
  .name {
    margin: 0px;
  }  
  .main-heading {
    margin: 0px;
  }
  .hero-section {
    padding: 0px;
  }
  .hero-title {
    font-size: 30px;
  }
  .hero-description-container {
    margin: 0px;
    width: 300px;
  }
  .search-container {
    justify-content: center;
  } 
  .search-title {
    margin-left: 0px;
  } 
  .search-box {
    margin-right: 0px;
  } 
  .cards-container {
    padding: 20px;
  }
}