* {
  box-sizing: border-box;
}

.bg-container {
  background-color: #000000;
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
