html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh; 
}

* {
  box-sizing: border-box;
}

.bg-container {
  background-color: #000000;
  min-height: 100vh;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 100%;
}