html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.bg-container {
  background-color: #000000;
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
